* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f0f4ff;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  background-color: rgba(33, 99, 241, 0.9); /* semi-transparent */
  padding: 40px;
  border-radius: 12px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
  width: 300px;
}

form p {
  color: #fff;
  margin-top: 10px;
  font-size: 14px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 8px;
  outline: none;
  font-size: 14px;
}

textarea.mess {
  width: 100%;
  padding: 10px 12px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: none;
  border-radius: 12px;
  outline: none;
  font-size: 14px;
  resize: vertical; /* Можно изменять размер только по вертикали */
}

input[type="submit"] {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: 8px;
  background-color: #fff;
  color: #2163f1;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
  background-color: #dce5ff;
}

.checkbox {
  position: absolute;
  top: 0;
  right: 0;
}

.checkbox2 {
  position: absolute;
  top: 0;
  left: 0;
}
